[env]
#_.python.venv = ".venv"
FORCE_COLOR = "1"

[settings]
experimental = true

[tools]
python = "3.13.9"
poetry = "2.2.1"
ruby = "3.1.1"
nodejs = "20.9.0"
watchexec = "2.3.2"

[tasks.dependencies-install]
sources = ["pyproject.toml", "poetry.lock"]
run = "poetry install"

[tasks.build]
depends = ["dependencies-install"]
sources = ["src/**/*"]
run = "poetry build"


[tasks.lint-check]
depends = ["dependencies-install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe lint-check"

[tasks.lint-fix]
depends = ["dependencies-install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe lint-fix"

[tasks.format-check]
depends = ["dependencies-install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe format-check"

[tasks.format-fix]
depends = ["dependencies-install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe format-fix"

[tasks.types-check]
depends = ["dependencies-install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe type-check"

[tasks.database-test-provision]
run = """
if [[ "$CI" != "true" ]]; then
  docker-compose \
    --project-name event-store \
    --file docker-compose.yml \
    up \
    --detach \
    postgres
fi
"""

[tasks.test-unit]
depends = ["dependencies-install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe test-unit"

[tasks.test-integration]
depends = ["dependencies-install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe test-integration"

[tasks.test-component]
depends = ["dependencies-install"]
wait_for = ["test-integration"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run poe test-component"

[tasks.test-report]
depends = ["dependencies-install"]
wait_for = ["test-unit", "test-integration", "test-component"]
run = "poetry run poe test-report"

[tasks.test]
depends = ["test-unit", "test-integration", "test-component", "test-report"]

[tasks.fix]
depends = ["lint-fix", "format-fix", "types-check"]

[tasks.check]
depends = ["lint-check", "format-check", "types-check"]

[tasks.default]
depends = ["build", "fix", "test"]
