[env]
#_.python.venv = ".venv"
FORCE_COLOR = "1"

[settings]
experimental = true

[hooks]
postinstall = "poetry install --only=build"

[tools]
python = "3.13.9"
poetry = "2.2.1"
watchexec = "2.3.2"

[tasks."dependencies:install"]
sources = ["pyproject.toml", "poetry.lock"]
run = "poetry run invoke deps.install"

[tasks.build]
depends = ["dependencies:install"]
sources = ["src/**/*"]
run = "poetry run invoke build"


[tasks."lint:check"]
depends = ["dependencies:install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke lint.check"

[tasks."lint:fix"]
depends = ["dependencies:install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke lint.fix"

[tasks."format:check"]
depends = ["dependencies:install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke format.check"

[tasks."format:fix"]
depends = ["dependencies:install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke format.fix"

[tasks."types:check"]
depends = ["dependencies:install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke types.check"

[tasks."database:test:provision"]
run = """
if [[ "$CI" != "true" ]]; then
  docker-compose \
    --project-name event-store \
    --file docker-compose.yml \
    up \
    --detach \
    postgres
fi
"""

[tasks."test:unit"]
depends = ["dependencies:install"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke test.unit"

[tasks."test:integration"]
depends = ["dependencies:install", "database:test:provision"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke test.integration"

[tasks."test:component"]
depends = ["dependencies:install", "database:test:provision"]
wait_for = ["test:integration"]
sources = ["src/**/*", "tests/**/*"]
run = "poetry run invoke test.component"

[tasks."test:report"]
depends = ["dependencies:install"]
wait_for = ["test:unit", "test:integration", "test:component"]
run = "poetry run invoke test.report"

[tasks."docs:serve"]
run = "poetry run mkdocs serve"

[tasks."docs:build"]
run = "poetry run mkdocs build"

[tasks."changelog:fragment:create"]
run = "poetry run scrive create"

[tasks."changelog:assemble"]
run = "poetry run scrive collect"

[tasks.prerelease]
run = "poetry run invoke prerelease"

[tasks.release]
run = "poetry run invoke release"

[tasks.test]
depends = ["test:unit", "test:integration", "test:component", "test:report"]

[tasks.fix]
depends = ["lint:fix", "format:fix", "types:check"]

[tasks.check]
depends = ["lint:check", "format:check", "types:check"]

[tasks.default]
depends = ["build", "fix", "test"]
