name: Main
on:
  push:
    branches:
      - main

jobs:
  check-test-build:
    uses: ./.github/workflows/check-test-build.yaml

  prerelease:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: "write"
      actions: "read"
    needs: [check-test-build]
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.CI_APP_ID }}
          private-key: ${{ secrets.CI_APP_SECRET }}

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - name: Install tools
        uses: jdx/mise-action@v3
        with:
          experimental: 'true'

      - name: Publish
        run: mise run prerelease
        env:
          PYPI_API_KEY: ${{ secrets.PYPI_API_KEY }}

  release:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: "write"
      actions: "read"
    needs: [prerelease]
    environment: release
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.CI_APP_ID }}
          private-key: ${{ secrets.CI_APP_SECRET }}

      - uses: actions/checkout@v3
        with:
          ref: "main"
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - name: Install tools
        uses: jdx/mise-action@v3
        with:
          experimental: 'true'

      - name: Publish
        run: mise run release
        env:
          PYPI_API_KEY: ${{ secrets.PYPI_API_KEY }}
